.layout {
  height: 100vh;
}

.page {
  padding: 16px;
}

.toolbar .spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 260px;
}

.w-full {
  width: 100%;
}

html.dark body {
  background: #121212;
  color: #eaeaea;
}

html.dark .mat-drawer-container,
html.dark .mat-sidenav-container,
html.dark .mat-drawer,
html.dark .sidenav {
  background: #1e1e1e !important;
  color: #eaeaea !important;
}

html.dark .page {
  background: #121212;
}

html.dark .mat-toolbar.mat-primary {
  background: #202a70 !important;
  color: #fff !important;
}

html.dark .mat-toolbar,
html.dark .mat-toolbar * {
  color: #fff !important;
}
